<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, height=auto, initial-scale=1.0" />
  <title>Quản lý cửa IOT</title>
  <link rel="shortcut icon" th:href="@{/assets/images/web-icon.png}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/assets/css/builder.css}" />
  <link rel="stylesheet" th:href="@{/assets/themify-icons/themify-icons.css}" />
</head>

<body>
  <div id="header">
    <div class="info">
      <div class="social-media">
        <i class="ti-facebook"></i>
        <i class="ti-instagram"></i>
        <i class="ti-youtube"></i>
      </div>
      <div class="contact">
        <i class="ti-email"></i>

        <i class="ti-mobile"></i>

      </div>
    </div>
    <div class="nav-icon">
      <a th:href="@{/}"><img th:src="@{/assets/images/header-nav.png}" /></a>
    </div>
    <ul id="nav">

      <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Đăng nhập</a></li>
      <li><a sec:authorize="!isAuthenticated()" th:href="@{/register}">Đăng kí</a></li>
      <li sec:authorize="isAuthenticated()" id="overlay" >
        <label class="switch">
          <input id="toggleButton" type="checkbox" unchecked title="Trạng thái cửa"> 
          <span class="slider round"></span>
        </label>
      </li>
      <li><a sec:authorize="isAuthenticated()" th:href="@{/user/logs}">Lịch sử</a></li>

      <li sec:authorize="isAuthenticated()">
        <i class="ti-user"></i>
        <ul class="sub-nav">
          <h3 th:text="${currentUser.name}"></h3>
          <li>
            <!-- <a th:href="@{${currentUser.id == 1} ? '/users' : '/user/' + ${currentUser.id}}"> -->
            <a th:href="@{'/user/' + ${currentUser.id}}">
              <i class="fa-solid fa-user"></i> Hồ sơ
            </a>
          </li>
          <li><a th:href="@{/logout}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Đăng xuất</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="header-space"></div>
  <div id="home">
    <div class="home-text">
      <p class="home-title">Hệ thống quản lý cửa IOT</p>
      <p class="home-desc">Bla bla...</p>
      <a hth:href="@{'/' + '#about'}" class="home-desc-button">Xem thêm</a>
    </div>
    <div class="home-image">
    </div>
  </div>
  <button onclick="topFunction()" id="backtoheader" class="ti-arrow-circle-up">
  </button>
</body>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="https://kit.fontawesome.com/cfbcbc4299.js" crossorigin="anonymous"></script>
<script th:src="@{/assets/script/script.js}"></script>

</html>